.am-header-title{color: #333;}
.content_ >>> .gujia{margin-top:2rem;}
.content p{font:2rem/2.5rem  "";}
body .content_{background-color:#fafafa;z-index: 2;}

.content{ padding: 1rem;}
.content h1{ color: #333; font-size: 2rem;}
.content p{ font-size: 13px; line-height: 30px;}

/* .content {max-width:0 !important;} */
.contents {
    padding: 1rem;
}