body {
	font-family: "Microsoft Yahei", "Calibri";
	font-size: 14px;
	background-color: #FFF;
	/* color:rgb(143, 95, 95); */
};

.errMess{display:block; position: relative;;top:0;left:0;}


.name .text span {
    width: 20%;
    float: left;
    text-align: center;};
.pwd .text .input {
    width: 80%;
    height: 42px;
    font-family: "Microsoft Yahei", "Calibri";
    border: 0;
    float: left;
    text-indent: 20px;
}
.tip span{color:red;margin-left:2rem}
.sign_ >>> .zhuce >>> errMess{display:block;margin-left:2rem;position:fixed;top:18.7rem;color:rgb(255,0,0);}
.sign_ >>> .zhuce >>> tip{position:relative}